body{
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #767777;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
	color: #787b83;
}
/*头部导航*/
#header{
	margin: 0;
	padding: 0;
	height: 56px;
}
#header .h-lg{
	margin-left: 50px;
	float: left;
	font-family: "黑体";
	font-size: 22px;
	color: #393a3a;
	line-height: 56px;
}
#header .nav{
	float: right;
	color: #787b83;
}
#header .nav ul{
	margin: 0;
	padding: 0;
	float: left;
}
#header .nav ul li{
	margin: 0 5px;
	padding: 18px;
	list-style: none;
	float: left;
}
#header .nav-in{
	background-image: url(images/line_x_red.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
#header .nav-in a,.nav-d a{
	color: #e74f4d;
}
#header .nav-d{
	margin-right: 50px;
	float: left;
	line-height: 56px;
}
#header .nav ul li:hover{
	background-image: url(images/line_x_red.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	color: #e74f4d;
}
#header .nav ul li a:hover{
	color: #e74f4d;
}

/*第一部分*/
#section-1{
	margin: 0;
	padding: 0;
	height: 690px;
	color: #fff;
	background-image: url(images/head_bg.jpg);
	background-size: 100% auto;
}
#section-1 .mes{
	position: absolute;
	left: 115px;
	top: 270px;
}
#section-1 .mes p{
	margin: 0;
	font-size: 22px;
}
#section-1 .mes p:first-child{
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 60px;
	letter-spacing: 3px;
}
#section-1 .mes p:last-of-type{
	margin-bottom: 60px;
}
#section-1 .mes span{
	width: 300px;
	height: 60px;
	display: inline-block;
	font-size: 28px;
	line-height: 60px;
	text-align: center;
	background-color: #e74f4d;
	cursor: pointer;
}
#section-1 .mes span a{
	color: #fff;
}
#section-1 .mes span:hover{
	background-color: #f60b08;
}
/*第二部分*/
#section-2{
	margin: 0;
	padding: 0;
}
#section-2 .mes{
	margin-bottom: 50px;
	float: left;
	width: 25%;
}
#section-2 .img{
	margin: 36px 0;
	display: block;
	vertical-align: middle;
	text-align: center;
}
#section-2 .txt{
	padding-bottom: 5px;
	text-align: center;	
	border-left: 2px solid #767777;
}
#section-2 .mes:first-child .txt{
	border: none;
}
/*section-3*/
#section-3{
	margin: 0;
	padding: 60px 0;
	background-color: #ededed;
	text-align: center;
}
#section-3 span{
	font-size: 54px;
	color: #a1a1a1;
}

#section-4{
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(images/search_bg.jpg);
	background-size: cover;
}
#section-4 .mes{
	margin: 0;
	padding-top: 50px;
}
#section-4 .mes span{
	border-top: 2px solid #fff;
    color: #fff;
    display: inline-block;
    height: 20px;
    width: 30px;
    margin-top: 10px;
    transition: width 0.4s ease-in-out 0s;
	-webkit-transition: width 0.4s ease-in-out 0s;
	-moz-transition: width 0.4s ease-in-out 0s;
}
#section-4 .mes span:hover{
	width: 300px;
}
#section-4 .mes p{
	color: #fff;
	margin: 0;
}
#section-4 .mes p:first-child{
	font-size: 22px;
}
#section-4 input{
	margin: 30px 0 60px 0;
	width: 60px;
}

#section-5{
	background-color: #edeaea;
	text-align: center;
}
#section-5 .mes{
	margin: 0;
	padding: 60px 0;
	display:inline-block;
	width: 20%;
}
#section-5 .mes .img{
	margin: 0 20px;
}
#section-5 .mes .txt p{
	margin: 5px 0 0 0;
}
#section-5 .mes .txt p:first-child{
	font-size: 16px;
	color: #000;
}

#section-6{
	margin: 0;
	padding: 0;
	text-align: center;
}
#section-6 .mes{
	float: left;
	width: 64%;
}
#section-6 .mes img{
	width: 100%;
}
#section-6 .txt{
	padding-top: 200px;
	margin-left: 80px;
	width: 25%;
	float: left;
}
#section-6 .txt p a{
	padding: 5px 25px;
	border: 1px solid #e25c60;
	color: #e25c60;
}
#section-6 .txt ul{
	list-style: none;
	float: left;
	text-align: center;
}
#section-6 .txt ul li{
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px solid;
	border-radius: 50px;
}
#section-6 .txt ul li:first-child{
	background-color: #767777;
}

#section-7{
	margin: 0;
	padding: 0;
	text-align: center;
}
#section-7 .mes{
	width: 32%;
	float: left;
}
#section-7 .mesi{
	width: 36%;
	float: left;
}
#section-7 .mesi img{
	width: 100%;
}